h1{
    font-family: "Ruslan Display",cursive;
    font-weight: bold;
    text-shadow:5px 2px #42dafa; 
    background-color:rgba(255, 0, 0, 0.767);
    text-align: center;
    font-size: 70px;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
a{
    color: red;
    text-decoration: none;
}
body{
    font-family: 'Caveat Brush', cursive;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-image: url("star-wars-sabre-laser-sith.jpg");
    margin: 8em;
    letter-spacing: 0.1em;
    font-size: 25px;
    background-attachment: fixed;
    background-size: cover;
}
footer{
    font-family: sans-serif;
    background-image: linear-gradient(red,blue);
    height: 100px;
}
img{
    display: block;
    margin-left: auto;
    padding: 5px;
    width: 20%;
    height: 20%;
}
#Roller{
    background-image: url("star\ wars.jpg");
    letter-spacing: 0.3in;
}
.pics{
    float: right;
}
section{
    border:solid #42dafa;
    padding: 3px;
}
#quote{
    color: green;
}